.page__home
    .hero-text
        .lead
            transform: rotate(-5deg)
            text-align: right
            @include media-breakpoint-up(xxl)
                margin-top: space(10)
    .block-chapter--alt_background
        background: none
        padding-bottom: 0 !important
        margin-top: 0 !important
        .chapter
            .text
                order: 1 !important
            .rich-text
                a
                    @extend .button
                    background: $color-accent
                    color: white
    .block-chapter
        &:not(.block-chapter--alt_background)
            margin-top: var(--grid-gutter)
        @include media-breakpoint-up(desktop)
            .chapter
                .text,
                figure
                    width: columns(6) !important
                    img
                        margin-left: unset !important
    .block-posts--carousel
        .block-title 
            position: relative
            &::after
                aspect-ratio: 1.2987
                background:
                    image: url(/assets/images/confetti.svg)
                    size: cover
                content: ''
                display: block
                position: absolute
                right: 0
                bottom: -$spacing-4
                width: pxToRem(70)
            a::after
                display: none
        @include media-breakpoint-down(desktop)
            .block-content
                display: flex
                flex-direction: column-reverse
            .block-title
                text-align: center
                a
                    display: block
                    width: 18ch
                    position: relative
                &::after
                    width: pxToRem(36)
                    transform: rotate(-81.38deg)
                    top: -$spacing-1
                    right: $spacing-1

// headings
.heading
    @include in-page-with-sidebar
        svg
            display: none
    @include in-page-without-sidebar
        display: block
        margin-right: 0
        margin-left: 0
        max-width: unset
        padding: 0
        width: unset
        h2
            @include container
            align-items: center
            display: flex
            width: var(--grid-width) !important
            p
                position: relative
                width: fit-content
                svg
                    position: absolute
                    right: 0
                    bottom: -50%
                    @include media-breakpoint-down(desktop)
                        right: unset
                        left: 0
                        width: 50%
            &::before
                content: ''
                background: $color-accent
                width: calc(#{columns(3)} + var(--grid-gutter))
                height: 8px
                border-bottom-right-radius: 8px
                border-top-right-radius: 8px
                margin-left: var(--grid-gutter-negative)
                margin-right: var(--grid-gutter)
                @media only screen and (min-width: 2000px)
                    border-bottom-left-radius: 8px
                    border-top-left-radius: 8px
    + .block
        margin-top: $spacing-5

// blocks
.block-call_to_action
    .call_to_action
        position: relative
        .description
            p 
                font-size: pxToRem(24)
                font-family: $body-font-family
        @include media-breakpoint-up(desktop)
            picture
                position: absolute
                bottom: -$spacing-6
                right: 0
.block-pages--cards.with-images
    article
        border-radius: 16px
        overflow: hidden
        @include media-breakpoint-up(desktop)
            aspect-ratio: 1.5775
            min-height: unset
        .media
            position: absolute
            width: pxToRem(70)
            bottom: 0
            transform: translate($spacing-3, 60%)
            img
                aspect-ratio: unset
        .meta
            font-weight: bold
            justify-content: flex-end
            &::after
                margin-top: $spacing-5
        &:hover
            .media img
                filter: brightness(10)

// Des cibles cracra pour le style
.page__home
    &.full-width
        #les-temoignages 
            h2::before
                background-color: $site-purple
            svg path
                stroke: $site-purple
        #besoin-daide 
            h2::before
                background-color: $site-green
            svg path
                stroke: $site-green
        #le-petit-guide-des-demarches
            h2::before
                background: white
            svg path
                stroke: white
    #le-petit-guide-des-demarches
        background-color: $site-blue
        margin-bottom: 0
        h2
            padding-top: $spacing-4
            color: white
        + .block-call_to_action
            margin-top: 0

.organizations__section
    #les-organisations-par-region
        h2::before
            background-color: $site-green
        svg path
            stroke: $site-green
