.page__home
    .hero-text
        .lead
            transform: rotate(-5deg)
            text-align: right
            @include media-breakpoint-up(xxl)
                margin-top: space(10)
    .block-chapter--alt_background
        background: none
        padding-bottom: 0 !important
        margin-top: 0 !important
        .chapter
            .text
                order: 1 !important
            .rich-text
                a
                    @extend .button
                    background: $color-accent
                    color: white
    .block-chapter
        &:not(.block-chapter--alt_background)
            margin-top: var(--grid-gutter)
        @include media-breakpoint-up(desktop)
            .chapter
                .text,
                figure
                    width: columns(6) !important
                    img
                        margin-left: unset !important
    .block-posts--carousel
        .block-title 
            position: relative
            &::after
                aspect-ratio: 1.2987
                background:
                    image: url(/assets/images/confetti.svg)
                    size: cover
                content: ''
                display: block
                position: absolute
                right: 0
                bottom: -$spacing-4
                width: pxToRem(70)
            a::after
                display: none
        @include media-breakpoint-down(desktop)
            .block-content
                display: flex
                flex-direction: column-reverse
            .block-title
                text-align: center
                a
                    display: block
                    width: 18ch
                    position: relative
                &::after
                    width: pxToRem(36)
                    transform: rotate(-81.38deg)
                    top: -$spacing-1
                    right: $spacing-1

// headings
.heading
    @include media-breakpoint-up(desktop)
        h2
            align-items: center
            display: flex
            &::before
                content: ''
                background: $color-accent
                width: columns(2)
                height: 8px
                border-bottom-right-radius: 8px
                border-top-right-radius: 8px
                @media only screen and (min-width: 2000px)
                    border-bottom-left-radius: 8px
                    border-top-left-radius: 8px
    @include in-page-with-sidebar
        p
            position: relative
            width: fit-content
        svg
            position: absolute
            right: 0
            bottom: -$spacing-3
        h2::before
            border-bottom-left-radius: 8px
            border-top-left-radius: 8px
            margin-right: space(7)
    @include in-page-without-sidebar
        display: block
        margin-right: 0
        margin-left: 0
        max-width: unset
        padding: 0
        width: unset
        h2
            @include container
            width: var(--grid-width) !important
            &::before
                margin-right: var(--grid-gutter)
                margin-left: var(--grid-gutter-negative)
                width: calc(#{columns(3)} + var(--grid-gutter))
    p
        position: relative
        width: fit-content
        svg
            position: absolute
            @include media-breakpoint-down(desktop)
                left: 0
                bottom: -$spacing-3
                path:nth-child(n+14)
                    visibility: hidden
            @include media-breakpoint-up(desktop)
                bottom: -50%
                right: 0
    + .block
        margin-top: $spacing-5

// header
header.hero
    .organizations__section &,
    .posts__section &,
    .posts__page &,
    .page__home &
        .content
            display: block
        .hero-text
            width: 100%
            h1,
            hgroup
                text-align: center
                margin-left: auto
                margin-right: auto
                width: fit-content
                > p
                    text-align: right
                    margin-left: auto
                    width: fit-content
                > p
                    font-size: pxToRem(24)
                    transform: rotate(-5deg)
                    display: flex
                    flex-direction: column
                    &::after
                        aspect-ratio: 198 / 27
                        background-size: cover
                        content: ''
                        width: 100%
                    @include media-breakpoint-down(desktop)
                        font-size: pxToRem(15)
    .organizations__section &,
    .posts__section &,
    .page__home &
        h1
            max-width: 9ch
        .container
            position: relative
            figure
                pointer-events: none
                position: absolute
                top: 0
                left: 0
                right: 0
                width: 100%
                z-index: 1
                @include media-breakpoint-down(desktop)
                    bottom: 0
                    top: unset
                    transform: scale(2)
                    left: $spacing-3
            nav,
            .hero-text
                z-index: 2
                position: relative
            @include media-breakpoint-up(xl)
                .hero-text
                    margin-top: $spacing-6
            @include media-breakpoint-down(desktop)
                margin-bottom: $spacing-6
    .organizations__section &
        h1, 
        hgroup
            > p::after
                background-image: url('/assets/images/doodles/doodle-organizations.svg')
    .posts__section &,
    .posts__page &,
    .page__home &
        h1, 
        hgroup
            > p::after
                background-image: url('/assets/images/doodles/doodle-testimonies.svg')
        .content + .content
            display: flex
            .lead
                align-items: center
                display: flex
                position: relative
                &::before
                    aspect-ratio: 1.455
                    background:
                        image: url('/assets/images/doodles/cloud.svg')
                        repeat: no-repeat
                        size: contain
                    content: ''
                    max-width: 380px
                    position: absolute
                    width: 100%
                    z-index: 1
                span
                    position: relative
                    z-index: 2
        @include media-breakpoint-up(desktop)
            .hero-text
                h1,
                hgroup
                    > p 
                        transform: rotate(-5deg) translateX($spacing-4) !important
            .content + .content
                align-items: stretch
                figure
                    width: columns(5)
                .lead
                    padding-right: columns(2)
                    position: relative
                    width: columns(6)
                    &::before
                        left: -(space(28))
    .page__home &
        > .container
            height: calc(95vh - (var(--header-height)))
            background:
                size: contain
                repeat: no-repeat
    @include media-breakpoint-up(xxl)
        .posts__section &
            + .document-content
                margin-top: $spacing-7
    @include media-breakpoint-down(desktop)
        .posts__page &
            .content + .content
                flex-direction: column-reverse
                .lead
                    justify-content: center
                    text-align: center
        .page__home &
            > .container
                background-image: url('/assets/images/home-hero-2.svg')
                background-position: top
                .hero-text
                    padding-top: space(55)
    @include media-breakpoint-up(desktop)
        .page__home &
            > .container
                background-image: url('/assets/images/home-hero-1.svg')
                background-position: center

// footer
footer#document-footer
    @include media-breakpoint-up(desktop)
        > .container
            > div
                width: columns(6)
        .container.quote
            padding-top: 0
            position: absolute
            right: 0
            top: $spacing-5
            width: 100%
            font-family: $body-font-family
            ul
                text-align: right
                width: columns(6)
                margin-left: auto
        .footer-legals ul li,
        .footer-credit
                text-align: right

.block-testimonials
    .testimonials
        min-height: pxToRem(270)
        background: 
            image: url('/assets/images/quote.svg')
            repeat: no-repeat
            position: right
        @include media-breakpoint-down(desktop)
            background-size: contain
        figure
            padding-top: $spacing-4


// blocks
.block-call_to_action
    .call_to_action
        position: relative
        .description
            p 
                font-size: pxToRem(24)
                font-family: $body-font-family
        @include media-breakpoint-up(desktop)
            picture
                position: absolute
                bottom: -$spacing-6
                right: 0

.block-sound
    audio
        &::-webkit-media-controls-panel
            background-color: rgba($site-purple, 0.2)

.posts--grid,
.block-posts--carousel
    .media
        aspect-ratio: 1.3074
        background-color: rgba($site-purple, 0.2)
        border-radius: 16px
        img
            height: 100%
            width: 100%
    @include media-breakpoint-down(desktop)
        article + article
            margin-top: $spacing-3

.block-pages--cards.with-images
    article
        border-radius: 16px
        overflow: hidden
        @include media-breakpoint-up(xl)
            aspect-ratio: 1.5775
            min-height: unset
        @include media-breakpoint-down(lg)
            aspect-ratio: 1.5775
            min-height: unset
        .media
            position: absolute
            width: pxToRem(70)
            bottom: 0
            transform: translate($spacing-3, 60%)
            img
                aspect-ratio: unset
        .meta
            font-weight: bold
            justify-content: flex-end
            &::after
                margin-top: $spacing-5
        &:hover
            .media img
                filter: brightness(10)

// Des cibles cracra pour le style
.page__home
    &.full-width
        #les-temoignages 
            h2::before
                background-color: $site-purple
            svg path
                stroke: $site-purple
        #besoin-daide 
            h2::before
                background-color: $site-green
            svg path
                stroke: $site-green
        #le-petit-guide-des-demarches
            h2::before
                background: white
            svg path
                stroke: white
    #le-petit-guide-des-demarches
        background-color: $site-blue
        margin-bottom: 0
        h2
            padding-top: $spacing-4
            color: white
        + .block-call_to_action
            margin-top: 0

.organizations__section
    #les-organisations-par-region
        h2::before
            background-color: $site-green
        svg path
            stroke: $site-green

.posts__page
    .heading
        h2::before
            background-color: $site-purple
        svg path
            stroke: $site-purple

.organizations__section,
.posts__section
    main
        overflow: hidden

// base
.document-content
    z-index: 3