
{{ $direction := "" }}
{{ $breadcrumb_is_after_hero := eq site.Params.breadcrumb.position "after-hero" }}
{{ $display_breadcrumb := .Params.breadcrumb | default true }}
{{ $subtitle := .Params.subtitle }}
{{ $description := .Params.description }}
{{ if .Params.image }}
  {{ $direction = partial "GetImageDirection" .Params.image }}
{{ end }}

{{ $summary := .Params.summary | safeHTML }}
{{ $subtitle_is_summary := false }}

{{ $button := .Params.button | default .Params.header_cta }}

{{ if not $subtitle }}
  {{ if and (eq site.Params.summary.position "hero") $summary }}
    {{ $subtitle = $summary }}
    {{ $subtitle_is_summary = true }}
  {{ end }}
{{ end }}

{{- $title := or .Params.header_text .Params.Title -}}

<header class="hero {{ if .Params.image }}hero--with-image hero--image-{{- $direction }}{{ end }} {{ if $breadcrumb_is_after_hero }} hero--no-margin {{ end }}">
  <div class="container">
    {{ if and $display_breadcrumb (eq site.Params.breadcrumb.position "hero-start") }}
      {{ partial "header/breadcrumbs.html" . }}
    {{ end }}
    <div class="content">
      <div class="hero-text">
        {{ if or .Params.image.credit }}
          <hgroup>
            <h1>{{ partial "PrepareHTML" $title }}</h1>
            {{ if .Params.image.credit }}
              {{ partial "PrepareHTML" .Params.image.credit }}
            {{ end }}
          </hgroup>
        {{ else }}
          <h1>{{ partial "PrepareHTML" .Params.title }}</h1>
        {{ end }}
      </div>
    </div>
    <div class="content">
      {{ if .Params.image }}
        <figure>
          {{ partial "commons/image.html"
            (dict
              "image"    .Params.image
              "sizes"    site.Params.image_sizes.sections.posts.hero_single
              "lazy"     false
            ) }}
        </figure>
      {{ end }}

      {{ if $description }}
        <p class="lead"><span>{{ partial "PrepareHTML" .Params.description }}</span></p>
      {{ end }}
    </div>
  </div>

  {{ if .Params.hero_complement }}
    {{ partial .Params.hero_complement . }}
  {{ end }}

  {{ if and $display_breadcrumb (eq site.Params.breadcrumb.position "hero-end") }}
    <div class="container breadcrumb-container">
      {{ partial "header/breadcrumbs.html" . }}
    </div>
  {{ end }}
</header>

{{ if and $display_breadcrumb $breadcrumb_is_after_hero }}
  <div class="container breadcrumb-container">
    {{ partial "header/breadcrumbs.html" . }}
  </div>
{{ end }}
